body {
    font-family: "Capture it", arial;
    margin: 0;
    padding: 0;
  }
  
  .fon {
    position: absolute;
    width: 100%;
  }
  
  /*/////////////////////////////////////////////////////////*/
    .zina {
      position:sticky;
      width: 680px;
      left: 22%;
      font-size: larger;
      
      
    }
    
    .zina h1 {
      color: rgb(0, 0, 0);
      text-align: center;
      font-size: 35px;
      margin-top: auto;
    }
    
    .zina p {
      text-align: center;
    }
    
    .zina_img{
        position: relative;
        left:15%;
    }
    
    /*/ ////////////////////////////////////////////////////////*/
  