body {
  background-image: url(img/image.png);
  background-size: cover;
  font-family: "Capture it", arial;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}
/*/////////////////////////////////////////////////////////*/
.head {
  width: 700px;
  left: 21.4%;
  position: fixed;
  font-size: larger;
}

.head h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 35px;
}

.head p {
  transition: color 0.3s;
}
.head p:hover {
  color: rgb(255, 0, 0);
}
/*/////////////////////////////////////////////////////////*/
.hover-text_1 {
  position: relative;
  left: 3%;
  cursor: pointer;
}

.hover-text_1 img {
  position: absolute;
  transform: translateX(-50%);
  display: none;
  width: 30%;
  margin-left: 70%;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 5px black;
}

.hover-text_1:hover img {
  display: block;
}
/*/////////////////////////////////////////////////////////*/
.hover-text_2 {
  position: relative;
  left: 3%;
  top: -10%;
  cursor: pointer;
}

.hover-text_2 img {
  position: absolute;
  transform: translateX(-50%);
  display: none;
  width: 30%;
  margin-left: 70%;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 5px black;
}

.hover-text_2:hover img {
  display: block;
}
/*/////////////////////////////////////////////////////////*/
.hover-text_3 {
  position: relative;
  left: 3%;
  top: -10%;
  cursor: pointer;
}

.hover-text_3 img {
  position: absolute;
  transform: translateX(-50%);
  display: none;
  width: 30%;
  margin-top: -10%;
  margin-left: 70%;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 5px black;
}

.hover-text_3:hover img {
  display: block;
}
/*/////////////////////////////////////////////////////////*/
.hover-text_4 {
  position: relative;
  left: 3%;
  top: -10%;
  cursor: pointer;
}

.hover-text_4 img {
  position: absolute;
  transform: translateX(-50%);
  display: none;
  width: 30%;
  margin-top: -10%;
  margin-left: 70%;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 5px black;
}

.hover-text_4:hover img {
  display: block;
}
/*/////////////////////////////////////////////////////////*/
.hover-text_5 {
  position: relative;
  left: 3%;
  top: -5%;
  cursor: pointer;
}

.hover-text_5 img {
  position: absolute;
  transform: translateX(-50%);
  display: none;
  width: 30%;
  margin-top: -20%;
  margin-left: 70%;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 5px black;
}

.hover-text_5:hover img {
  display: block;
}
/*/////////////////////////////////////////////////////////*/
.hover-text_6 {
  position: relative;
  left: 3%;
  top: -10%;
  cursor: pointer;
}

.hover-text_6 img {
  position: absolute;
  transform: translateX(-50%);
  display: none;
  width: 30%;
  margin-top: -30%;
  margin-left: 70%;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 5px black;
}

.hover-text_6:hover img {
  display: block;
}
/*/////////////////////////////////////////////////////////*/
.hover-text_7 {
  position: relative;
  left: 3%;
  top: -10%;
  cursor: pointer;
}

.hover-text_7 img {
  position: absolute;
  transform: translateX(-50%);
  display: none;
  width: 30%;
  margin-left: 70%;
  margin-top: -35%;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 5px black;
}

.hover-text_7:hover img {
  display: block;
}
/*/////////////////////////////////////////////////////////*/
.hover-text_8 {
  position: relative;
  left: 3%;
  top: -10%;
  cursor: pointer;
}

.hover-text_8 img {
  position: absolute;
  transform: translateX(-50%);
  display: none;
  width: 30%;
  margin-left: 70%;
  margin-top: -40%;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 5px black;
}

.hover-text_8:hover img {
  display: block;
}
/*/////////////////////////////////////////////////////////*/
.hover-text_9 {
  position: relative;
  left: 3%;
  top: -10%;
  cursor: pointer;
}

.hover-text_9 img {
  position: absolute;
  transform: translateX(-50%);
  display: none;
  width: 30%;
  margin-left: 70%;
  margin-top: -45%;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 5px black;
}

.hover-text_9:hover img {
  display: block;
}
/*/////////////////////////////////////////////////////////*/
.hover-text_10 {
  position: relative;
  left: 3%;
  top: -10%;
  cursor: pointer;
}

.hover-text_10 img {
  position: absolute;
  transform: translateX(-50%);
  display: none;
  width: 30%;
  margin-left: 70%;
  margin-top: -50%;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 5px black;
}

.hover-text_10:hover img {
  display: block;
}
/*/////////////////////////////////////////////////////////*/
